.navBar {
  background-color: black;
  display: flex;
  justify-content: space-around;
  padding: 1rem;
}
.material-icons {
  color: red;
}
.button {
  display: flex;
  align-items: center;
  background-color: black;
  color: white;
  cursor: pointer;
}
