.product {
  display: flex;
  flex-direction: column;
  background-color: white;
  align-items: stretch;
  justify-content: center;
  padding: 0rem;
  gap: 1rem;
  border-radius: 10px;
  width: 12rem;
  cursor: pointer;
  outline: solid #e5e5e5 1px;
}

.description {
  border-top: 1px solid #e5e5e5;
  display: flex;
  flex-direction: column;
  font-size: 16px;
}

.description > * {
  padding: 5px;
  padding-left: 15px;
}

.photo {
  height: 100px;
  align-self: center;
  margin: 0.5rem;
}

.shopButton {
  display: flex;
  justify-content: center;
  background-color: black;
  font-weight: bold;
  cursor: pointer;
  color: white;
  border: 0px solid;
  border-radius: 4px;
  padding: 10px 10px;
  margin: 10px 10px;
  box-shadow: #cbd0d8 1.95px 1.95px 2.6px;
}

.shopButton:hover {
  background-color: rgb(61, 61, 61);
}
