.product {
  display: flex;
  background-color: white;
  align-items: stretch;
  justify-content: center;
  padding: 0rem;
  gap: 1rem;
  border-radius: 10px;
  width: 12rem;
}

.description {
  display: flex;
  flex-direction: column;
  font-size: 8px;
}

.description > * {
  padding: 4px;
}

.photo {
  height: 70px;
  align-self: center;
  margin: 0.5rem;
}

.quantityButton {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: black;
  font-weight: bold;
  width: 20px;
  height: 20px;
  cursor: pointer;
  color: white;
  cursor: pointer;
  border: 0px solid;
  border-radius: 4px;
  box-shadow: #cbd0d8 1.95px 1.95px 2.6px;
  user-select: none;
}

.quantityButton:hover {
  background-color: rgb(61, 61, 61);
}

.quantityButton:active {
  background-color: rgb(145, 145, 145);
}
.quantityControls {
  display: flex;
  align-items: center;
}
.quantity {
  margin: 0px 5px;
}
